.container h1{
    padding: 50px 100px;
    padding-top: 10px;

}






h1 img{
    width: 118px;
    left: 0;
    top: 5px;
    margin: 0;
    padding: 0;
    border: 0;
}

 .navbar h2{
    /* margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-left: 100px;
    box-sizing: border-box;
    z-index: 98;
    width: 1120px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    /* height: 37px; */
    /* -webkit-align-items: center;
    align-items: center;
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative; */ 
    margin: 30px;
}

navbar {
    display: flex;
    justify-content: flex-end;
    
}



.hero div{
    margin: 50px 100px;
    background-color: #aeaeae
        
}

*{
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: aliceblue;
}

.tab_content {
    display: flex;
    justify-content: flex-start;
}